<div id="chat-history-pane">
	<header id="chat-history-toggle" class="clearfix">
		<h4>Chat History</h4>
	</header>

	<div class="chat-history-pane-body">
		<div class="chat-history" id="chat-history"></div>
	</div>
</div>
