<div id="live-chat">
	<header class="clearfix">
		<h4>Fantastic Furrymals</h4>
	</header>

	<div class="chat">
		<div class="chat-history" id="chat-history">
		</div> <!-- end chat-history -->

		<form id="chat-form" action="#" method="post">
			<fieldset>
				<input type="text" id="message" placeholder="type here" autofocus>
				<button id="send-message" type="submit">Send</button>
			</fieldset>
		</form>

	</div> <!-- end chat -->

</div> <!-- end live-chat -->
