<div id="live-chat">
	<header class="clearfix">
		<h4>Fantastic Furrymals</h4>
	</header>

	<div class="chat-compose">
		<form id="chat-form" action="#" method="post" autocomplete="off">
			<fieldset>
				<textarea
					id="message"
					placeholder="type here"
					autofocus
					autocomplete="off"
					autocorrect="off"
					autocapitalize="off"
					rows="3"
				></textarea>
				<button id="send-message" type="submit">Send</button>
			</fieldset>
		</form>
	</div>
</div>
