<h1 id="title">Welcome to the Fantastic Furrymals {{userName}}</h1>

<div id="live-chat">
		<header class="clearfix">
			<a href="#" class="chat-close">x</a>
			<h4>Fantastic Furrymals - {{userName}}</h4>
			<span class="chat-message-counter">3</span>
		</header>

		<div class="chat">
			<div class="chat-history">
				<div class="chat-message clearfix">
				</div> <!-- end chat-message -->
				<hr>

				<div class="chat-message clearfix">
				</div> <!-- end chat-message -->

				<hr>
			</div> <!-- end chat-history -->


			<form action="#" method="post">
				<fieldset>
					<input type="text" id="message" placeholder="type here" autofocus>
					<button id="send-message">Send</button>	
				</fieldset>

			</form>

		</div> <!-- end chat -->

	</div> <!-- end live-chat -->

	