<nav>
  <h3>Fantastic Furrymals</h3>
  <span id="user-status">Connected</span>
</nav>

<div id="live-chat">
  <header class="clearfix">
    <a href="#" class="chat-close">x</a>
    <h4>Global Chat</h4>
  </header>

  <div class="chat">
    <div class="chat-history" id="chat-history"></div>

    <form id="chat-form">
      <fieldset>
        <input id="message" type="text" placeholder="Type your message..." autocomplete="off" maxlength="300" />
        <button id="send-message" type="submit">Send</button>
      </fieldset>
    </form>
  </div>
</div>
